{
  "extends": ["next", "next/core-web-vitals"],
  "plugins": ["jsx-a11y"],
  "rules": {
    "react/display-name": "off",
    "@next/next/no-img-element": "off",
    "@next/next/link-passhref": "off"
  }
}
